.animacao {
    font-size: 50px;
    animation: aparecer 5s 1s infinite;
    opacity: 0;
  }
  
  @keyframes aparecer {
    0% {
      opacity: 0;
      transform: translateY(50px);
    }
    50% {
      opacity: 1;
      transform: translateY(0px);
    }
    100% {
      opacity: 0;
      transform: translateY(-50px);
    }
}

.animacao2 {
  font-size: 40px;
  animation: aparecer2 5s 2s infinite;
  opacity: 0;
}

@keyframes aparecer2 {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  50% {
    opacity: 1;
    transform: translateY(0px);
  }
  100% {
    opacity: 0;
    transform: translateY(-50px);
  }
}

  
.animacao3 {
    font-size: 36px;
    animation: aparecer3 5s 3s infinite;
    opacity: 0;
  }
  
  @keyframes aparecer3 {
    0% {
      opacity: 0;
      transform: translateY(50px);
    }
    50% {
      opacity: 1;
      transform: translateY(0px);
    }
    100% {
      opacity: 0;
      transform: translateY(-50px);
    }
  }

  /* ANIMACOES DA PAGINA ANOTACOES */

  .animacao4 {
  
    animation: aparecer4 4s ease-in 1s infinite;
    opacity: 0.75;
  }
  
  @keyframes aparecer4 {
    0% { opacity: 1; }
    33.33% { opacity: 0.25; }
    66.66% { opacity: 0; }
    100% { opacity: 0.5; }
}

.animacao5 {

  animation: aparecer5 4s ease-in-out 2s infinite;
  opacity: 0;
}

@keyframes aparecer5 {
  0% { opacity: 0; }
  33.33% { opacity: 1; }
  66.66% { opacity: 0; }
  100% { opacity: 0; }
}



.imgBrainWorks{
    width: 500px;
    height: 400px;
}


.float-button{
  width: 3rem;
  height: 3rem;
  right: 1.5rem;
  bottom: 1.5rem;

}

